<!-- The Modal -->
<div class="modal" id="messageModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: 12;"><i class="bi bi-info-circle"></i> Message</h4>
          <button type="button" class="btn-close" (click)="hide()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          {{message}}
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="hide()" >Close</button>
        </div>
  
      </div>
    </div>
  </div>