body {
    margin: 0;
    padding: 0;
    background-color: #374444!important;
    height: 100vh;
  }
    #adduser .container #adduser-row #adduser-column #adduser-box {
      margin-top: 50px;
      max-width: 600px;
      height: 750px;
      border: 1px solid #9C9C9C;
      background-color: #EAEAEA;
    }
    #adduser .container #adduser-row #adduser-column #adduser-box #adduser-form {
      padding: 20px;
    }
  
    .text-info {
      color: #444444!important;
    }
    .btn-info{
      background-color: #444444;
      color: #feffff;
    }